html {
   font-size: 18px;
   line-height: 1.4;
}

/* beginning of header section */

.sitecontainer {
  width: 960px;
  height: auto;
  margin: auto;
}

.headersection {
  margin-top: 1rem;
  width: 100%;
  background-color: cadetblue;
  height: 3rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imglogo {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.headerfont {
  font-family: helvetica;
  font-size: 1rem;
}

.logostuff {
    display: inline-flex;
}


.navmenu {
   padding-top: 1rem;
   padding-bottom: 1rem;
   display: inline-flex;
}
