html {
   font-size: 18px;
   line-height: 1.4;
}

/* beginning of header section */

.backgroundpicture {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  width: 100%;
  height: 30rem;
  margin-top: 1rem;
}

.sitecontainer {
  width: 960px;
  height: auto;
  margin: auto;
  margin-top: -1rem;
}

.headersection {
  width: 100%;
  background-color: cadetblue;
  height: 3rem;
  margin-top: 2rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imglogo {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.headerfont {
  font-family: helvetica;
  font-size: 1rem;
  color: white;
  height: auto;
  font-weight: bolder;
  padding-right: 2rem;
}

.logostuff {
    display: flex;
    align-items: center;
}

.navmenu {
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: 2rem;
   display: flex;
   justify-content: space-between;
}

/*beginning of the main section */

.mainsection {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.mainheading {
  padding-top: 10rem;
  margin-right: -2rem;
}

.mainheadingfont {
  font-size: 2rem;
  font-family: helvetica;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
}

.adsectioncontainer {
   width: 100%;
   height: auto;
   padding-top: 3rem;
}

.picturestorage {
  display: flex;
  justify-content: center;
}

.contentcontainer {
  height: 8rem;
  display: block;
  justify-content: center;
  max-width: 5rem;
  text-align: center;
}

.image1 {
  width: 3.5rem;
  height: auto;
  padding-bottom: 1.5rem;
}

.image2 {
   width: 5rem;
   padding-bottom: 1.5rem;
}

.image3 {
   max-width: 5rem;
   padding-bottom: 1.5rem;
}

#spacing {
  margin-left: 6rem;
  margin-right: 6rem;
}

.infosection {
  width: 100%;
  height: auto;

  display: flex;
 justify-content: center;
}

.infocontainer {
  width: 960px;
  display: inline-flex;
  justify-content: center;

}

.infotitle {
  font-family: helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 10rem;
  padding-left: 1.25rem;
}


.infoformat {
  width: 65%;
  padding-top: 1rem;
}

.footersection {
   width: 960px;
   margin: auto;
   background-color: azure;
   height: auto;
   margin-top: 5rem;
}

.footerlogo {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  display: flex;
}

.blackglass {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 960px) {

  .headersection {
    margin-top: 0;
  }

 .backgroundpicture {
    height: 22rem;
 }

 .mainheadingfont {
   font-size: 1.33rem;
   padding: 0.75rem 4rem;
   background-color: white;
 }

 .mainheading {
    padding-top: 5rem;
    margin-right: 0;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 480px) {

  .headersection {
    margin-top: 0;
  }

 .backgroundpicture {
    height: 17rem;
 }

 .mainheadingfont {
   font-size: 1rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: white;
   margin: auto;
 }

 .mainheading {
    padding-top: 9rem;
    width: 100%;

  }

.adsectioncontainer {
  width: 480px;
}
  .picturestorage {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 8rem;
    align-items: center;
    margin-bottom: 3.77rem;
  }

  .contentcontainer {
    height: auto;
    display: block;
    justify-content: center;
    max-width: 5rem;
    text-align: center;
    padding-bottom: 1.54rem;
  }

  #spacing {
    margin-left: 0;
    margin-right: 0;
  }
  .image1 {
    width: 3.5rem;
    height: auto;
    padding-bottom: 1.5rem;
  }

  .image2 {
     width: 5rem;
     padding-bottom: 1.5rem;
  }

  .image3 {
     max-width: 5rem;
     padding-bottom: 1.5rem;
  }

  .infocontainer {
    width: 480px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }

  .infotitle {
     width: 100%;
     padding-left: 0;
     text-align: center;
  }

  .infoformat {
    width: 100%;
    padding-bottom: 4rem;
    font-size: 0.77rem;
  }

  .moveit {
    display: none;
  }

  .footersection {
    width: 480px;
  }

  .footerlogo {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }


}
